.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.screen_protection {
    display: none;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.2);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.delete_confirmation {
    background-color: #212121;
    width: 400px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
}

.delete_confirmation_inside {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: lightgrey;
    margin-top: 24px;
}

.delete_confirmation_inside p {
    padding: 0 24px;
    margin-bottom: 35px;
    font-size: 1.1em;
}

.bttns {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    padding-left: 24px;
}

.bttns button{
    color: #3ea6ff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    margin-left: 5px;
}

.bttns button:hover {
    background-color: #263850;
}